/* Body style */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: rgb(202, 159, 116);
  }
  /* Textarea style */
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  /* Jumbotron style */
  .jumbotron {
    image-resolution: 1280px;
    text-align: center;
    background-image: url(images/backgr.jpg);
    background-color: transparent;
    color: rgb(9, 9, 136);
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  /* Style for past hours */
  .past {
    background-color: #d3d3d3;
    color: black;
  }
  /* Style for current hour */
  .present {
    background-color: #ff6961;
    color: black;
  }
  /* Style for future hours */
  .future {
    background-color: #77dd77;
    color: black;
  }
  /* Save button styling */
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }